@font-face {
    font-family: 'Polar Vertex';
    src: url('../Fonts/PolarVertex-Regular.woff2') format('woff2'),
        url('../Fonts/PolarVertex-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('../Fonts/AquireLight.woff2') format('woff2'),
        url('../Fonts/AquireLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('../Fonts/AquireBold.woff2') format('woff2'),
        url('../Fonts/AquireBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('../Fonts/AquireRegular.woff2') format('woff2'),
        url('../Fonts/AquireRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



h1 {
    font-family: 'Aquire';
    color: #c45353;
    font-style: italic;
}