@font-face {
    font-family: 'Aquire';
    src: url('../Fonts/AquireRegular.woff2') format('woff2'),
        url('../Fonts/AquireRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Polar Vertex';
    src: url('../Fonts/PolarVertex-Regular.woff2') format('woff2'),
        url('../Fonts/PolarVertex-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h2 {
    font-family: 'Aquire';
}

p {
    font-family: 'Aquire';
    font-size: small;
}